.genre::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: hsl(var(--black));
    top: 50%;
    left: -9px;
    border-radius: 50%;

}

.arrow-down::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--primary);
    transform: rotate(90deg);
    bottom: -2px;
    right: -4.5px;
}