.container-tab {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid hsl(var(--very-light-black));
  position: absolute;
  top: -16px;
  width: 100%;
  background: white;
}

.tabs-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 16px;
}

.tabs-list {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start !important;
  background-color: transparent;
  height: 48px;
  padding: 0px;
  border-radius: 0px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabs-list::-webkit-scrollbar {
  display: none;
}

.tab-trigger {
  background-color: white;
  padding: 0 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  user-select: none;
  border-radius: 0px;
}

.tab-trigger[data-state='active'] {
  color: var(--primary);
  border-bottom: 2px solid currentColor;
}
